/*
Colors used:
Primary Color (nickle): #5F7470;
Secondary Color (quartz): #4F4A46;
Background Color (white): #FFFBFE;
Footer Color (gunmetal): #2B303A;
Link Color (trolley grey): #7A7C7C;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fffbfe;
  font-family: 'questrial', san-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #6a7480;
}

header {
  background-color: #5f7470;
  color: #fffbfe;
  font-family: 'ledger', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  border-bottom: 3px solid #4f4a46;
  box-shadow: 0 4px 11px 0 rgba(122, 124, 124, 0.5);
  padding: 10px 0 4px;
}

footer {
  background-color: #2b303a;
  color: #fff;
  padding: 10px;
  margin: 10px;
}

main {
  padding-top: 56px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'ledger', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-family: 'ledger', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-family: 'ledger', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #fffbfe;
  text-decoration: none;
}

nav > ul > li > a:visited {
  color: #fff;
}

a:hover,
a:focus {
  color: white;
}

a:active {
  color: orange;
}

nav > ul > li {
  font-size: 0.52em;
}

nav > ul {
  margin: 0;
  list-style-type: none;
}

nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.signature {
  font-family: 'Mr Dafoe', cursive;
  font-weight: 200;
  font-size: 1.15em;
  padding: 10px;
  margin-top: 4px;
  max-width: 150px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  color: #fffbfe;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #fffbfe;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.hero {
  background-color: #4f4a46;
  color: #fffbfe;
}

.work {
  color: #5f7470;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.sun {
  animation: 5s color-change infinite alternate linear;
}

/* animation-duration: 4s;
animation-name: color-change; animation-iteration-count: infinite;
 animation-direction: alternate;
animation-timing-function: linear; this is the long way */

@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f98a4d; }
}

.cloud-front {
  animation: 40s cloud-move infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-back {
  animation: 35s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 40px); }
  to { transform: translate(100px, 40px); }
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  color: #fff; /* needed to override the default link color */
  background-color: #5f7470;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #727575; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  color: #fff;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.email {
  color: #fffbfe;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #fffbfe;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  transition-duration: 0.4s;
  transition-property: background-color;
}

.email:hover {
  color: #2b303a;
  background-color: #fffbfe;
  border: 2px solid #fffbfe;
}

.button.resume {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  color: #fff; /* needed to override the default link color */
  background-color: #5f7470;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #5f7470; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-transform: uppercase;
}

.button.resume:hover {
  opacity: 0.8;
  text-decoration: none;
}

/* layout styling */
.container {
  padding: 10px;
}

.header-container {
  padding: 0 10px;
  width: 100%;
  display: inline-block;
  position: fixed;
}

.row {
  margin: 25px 0;
}

.fitted {
  font-family: 'Faster One', cursive;
  text-transform: uppercase;
  color: #b35000;
  font-size: 50px;
  text-align: center;
}

.xpert {
  font-family: 'Yellowtail', cursive;
  color: #69768c;
  font-size: 50px;
  text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #5f7470;
}

#contact-section {
  padding-bottom: 30px;
  text-align: center;
}

#contact-section .social li {
  list-style-type: none;
  font-size: 12px;
  background-color: #2b303a;
  padding: 5px 25px 0;
  display: inline-block;
}

#contact-section .social {
  text-align: center;
}

#contact-section .social ul {
  padding: 0;
}

/* text alignment */

#hero {
  background-color: #4f4a46;
  color: #fffbfe;
  width: auto;
  margin: 0 10px;
}

#hero h1 {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
  font-size: 32px;
}

/* screen breakpoints */

@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 8px 0 20px;
  }

  nav {
    width: auto;
    margin-top: 4px;
    float: right;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  .signature {
    font-weight: 200;
    font-size: 1.4em;
    padding: 10px;
    min-width: 641px;
  }

  nav > ul > li {
    display: inline-block;
    font-size: 0.52em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: 0;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  #hero .container {
    width: auto;
  }

  #contact-section .social li {
    font-size: 15px;
    padding: 5px 50px 0;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    padding: 5px 0 20px;
  }

  body {
    font-size: 20px;
  }

  nav > ul > li {
    display: inline-block;
    font-size: 0.75em;
  }

  .signature {
    max-width: 250px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #hero {
    text-align: center;
  }

  #contact-section .social li {
    padding: 5px 75px 0;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  /* [class*="col-"] {
    float: left;
    padding: 10px;
  } */

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}
