/*
Colors used:
Primary Color (nickle): #5F7470;
Secondary Color (quartz): #4F4A46;
Background Color (white): #FFFBFE;
Footer Color (gunmetal): #2B303A;
Link Color (trolley grey): #7A7C7C;
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #FFFBFE;
  font-family: 'questrial', san-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #6A7480;
}
header {
  background-color: #5F7470;
  color: #FFFBFE;
  font-family: 'ledger', sans-serif;
  font-size: 1.50em;
  font-weight: 700;
  border-bottom: 3px solid #4F4A46;
  box-shadow: 0px 4px 11px 0px rgba(122, 124, 124, 0.5);
}
footer {
  background-color: #2B303A;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
}
main {
  padding-top: 133px;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-family: 'ledger', sans-serif;
  font-size: 28px;
  font-weight: 700;
}
h2 {
  font-family: 'ledger', sans-serif;
  font-size: 24px;
  font-weight: 600;
}
h3 {
    font-family: 'ledger', sans-serif;
  font-size: 20px;
  font-weight: 600;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #FFFBFE;
  text-decoration: none; /* No underlining */
}
nav > ul > li > a:visited { /* visited link */
  color: #ffffff;
}
nav > ul > li > a:hover
a:focus{
  color: orange;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: orange;
}
nav > ul > li {
  font-size:.52em;
}
nav > ul > li > a {
  padding:0 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.signature {
  font-family: 'Mr Dafoe', cursive;
  font-weight: 200;
  font-size: 1.40em;
  padding: 10px;
  margin-top: 4px;
  max-width: 250px;
}
.hero {
  background-color: #4F4A46;
  color: #FFFBFE;
}
.work {
  color: #5F7470;
}
.social {
  display: inline-block;
  list-style-type: none;
}
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height:auto;
}
.sun {
  animation: 5s color-change infinite alternate linear;
/*animation-duration: 4s;
animation-name: color-change;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear; this is the long way*/
}
@keyframes color-change {
0% {fill: #edc655;}
50% {fill: #fcffad;}
100% {fill: #f98a4d;}
}
.cloud-front {
animation: 40s cloud-move infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-back {
animation: 35s cloud-move-reverse infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,40px);}
  to {transform: translate(100px,40px);}
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  color: #ffffff; /* needed to override the default link color */
  background-color: #7A7D7D;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #727575; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  color: #ffffff;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  color: #FFFBFE;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #FFFBFE;
  text-decoration: none;
  transition-duration: 0.4s;
  transition-property: background-color;
}
.button.contact:hover {
  color: #2B303A;
  background-color: #FFFBFE;
  border: 2px solid #FFFBFE;
}
.button.resume {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  color: #ffffff; /* needed to override the default link color */
  background-color: #5F7470;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #5F7470; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-transform: uppercase;
}
.button.resume:hover {
  opacity: 0.8;
  text-decoration: none;
}
/* layout styling */
.container {
  padding: 10px;
}
.header-container {
  padding: 0 10px;
  width: 100%;
  display: inline-block;
  position: fixed;
}
.row {
  margin: 25px 0;
}
.fitted {
  font-family: 'Faster One', cursive;
  text-transform: uppercase;
  color: #B35000;
}
.xpert {
  font-family: 'Yellowtail', cursive;
  color: #69768C;
}
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #5F7470
}
#contact-section .container {
  padding: 0 15px;
  margin: 0 10px;
}
/*text alignment*/
#hero .container {
  background-color: #4F4A46;
  color: #FFFBFE;
  padding: 10px;
  margin: 10px;
}
#hero h1 {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
  font-size: 32px;
}
/* screen breakpoints*/
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    margin-top: 4px;
    padding-left: 50px;
  }
  main {
    padding-top: 99px;
  }
  body {
    font-size: 18px;
  }
  .signature {
    font-weight: 200;
    font-size: 1.40em;
    padding: 10px;
  }
  #hero {
    text-align: center;
  }
  #hero span {
    display: block;
  }
  .col-md-6 {
  width: 50%;
  }
  [class*="col-"] {
   float: left;
   padding: 10px;
   }
   .row::after {
     content: "";
     clear: both;
     display: table;
   }
 }
@media only screen and (min-width: 1024px) {
  header {
    padding: 5px 0 20px;
  }
  body {
    font-size: 20px;
  }
  .signature {
  margin-top: 4px;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #hero {
    text-align: center;
  }
  #hero span {
    display: block;
  }
  .col-lg-7 {
  width: 60%;
  }
  .col-lg-5 {
  width: 40%;
  }
  /*[class*="col-"] {
    float: left;
    padding: 10px;
  }*/
   .row::after {
     content: "";
     clear: both;
     display: table;
   }
}
